<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zeroteam.core.todo.mapper.TodoMapper">

  <insert id="createTodo" parameterType="org.zeroteam.core.todo.TodoVO">
  
   insert into tbl_todo (title, content, duedate) 
   values (#{title}, #{content}, #{dueDate})
  
  </insert>
  
  <select id="listTodo" resultType="org.zeroteam.core.todo.TodoVO" parameterType="org.zeroteam.core.todo.TodoCriteria">
  
  select bno, title, content, dueDate, regDate 
  from tbl_todo
  
  order by bno desc
  limit #{start}, #{end}
  
  </select>
  
  <select id="readTodo" resultType="org.zeroteam.core.todo.TodoVO">
  select bno, title, content, dueDate, regDate 
  from tbl_todo
  where bno = #{bno}
  
  </select>
  
  
  <select id="listCountTodo" resultType="int" >
  
  select count(bno) 
  from tbl_todo
   
 
  </select>

</mapper>  