<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="org.zeroteam.core.board.mapper.BoardMapper">

  <insert id="createBoard" parameterType="org.zeroteam.core.board.BoardVO">
  
   insert into tbl_board (title, content, writer) 
   values (#{title}, #{content}, #{writer})
  
  </insert>
  
  <select id="listBoard" resultType="org.zeroteam.core.board.BoardVO" 
                         parameterType="org.zeroteam.core.board.BoardCriteria">
  
  select bno, title, content, dueDate, regDate 
  from tbl_board
  where delflag != 'Y'
  order by bno desc
  limit #{start}, #{end}
  
  </select>
  
  <select id="readBoard" resultType="org.zeroteam.core.board.BoardVO">
  select bno, title, content, writer, regDate, modDate, viewcnt, delflag 
  from tbl_board
  where bno = #{bno}
  
  </select>
  
  
  <select id="listCountBoard" resultType="int" >
  
  select count(bno) 
  from tbl_board
   
 
  </select>

  <update id="updateBoard" parameterType="org.zeroteam.core.board.BoardVO">
  
  update tbl_board set title = #{title}, content = #{content}, writer = #{writer}, modDate = now(),  
  where bno = #{bno}
  
  </update>
  
  <delete id="deleteBoard">
  
  update tbl_board set delflag = 'Y' where bno = #{bno}
 
  
  </delete>
</mapper>